.team {
  background-color: #f4f4fd;
  padding: 120px 141px;
}

.team-container {
  padding: 0;
}

.team-title2 {
  color: #2e2f42;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
}

.team-title3 {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.team-features-text {
  text-align: center;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.li-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
}

.ul-item-team {
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
  margin-top: 72px;
}

.team-card-content {
  padding: 32px 16px;
}

.team img {
  display: block;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  border-radius: 40px;
  background-color: #4d5ae5;
}
.social-link use {
  fill: #ffffff;
}

.social-list {
  display: flex;
  gap: 24px;
}

.team-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
